.Frame{
    border: 1px solid black;
    padding: 3px;
}

.Row{
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 3px;
}

.Status-thing{
    display: inline-block;
    border: 1px solid black;
    padding: 3px;
}